<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>GRAPHQL_URL</key>
	<string>$(GRAPHQL_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>Anton-Regular.ttf</string>
		<string>Yellowtail-Regular.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>trophyrooms</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trophyrooms</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
