<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>$(CLERK_PUBLISHABLE_KEY)</string>
	<key>GRAPHQL_URL</key>
	<string>$(GRAPHQL_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>clerk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clerk.trophyrooms.org</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
